ConsoleClient/Service References/CalculatorServiceReference/Calculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Calculator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:46987/Calculator.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:46987/Calculator.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:46987/Calculator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalc_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ICalc_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ICalc_Sub_InputMessage">
    <wsdl:part name="parameters" element="tns:Sub" />
  </wsdl:message>
  <wsdl:message name="ICalc_Sub_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubResponse" />
  </wsdl:message>
  <wsdl:message name="ICalc_Mult_InputMessage">
    <wsdl:part name="parameters" element="tns:Mult" />
  </wsdl:message>
  <wsdl:message name="ICalc_Mult_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultResponse" />
  </wsdl:message>
  <wsdl:message name="ICalc_Div_InputMessage">
    <wsdl:part name="parameters" element="tns:Div" />
  </wsdl:message>
  <wsdl:message name="ICalc_Div_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivResponse" />
  </wsdl:message>
  <wsdl:message name="ICalc_ComplexAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:ComplexAdd" />
  </wsdl:message>
  <wsdl:message name="ICalc_ComplexAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComplexAddResponse" />
  </wsdl:message>
  <wsdl:message name="ICalc_ComplexSub_InputMessage">
    <wsdl:part name="parameters" element="tns:ComplexSub" />
  </wsdl:message>
  <wsdl:message name="ICalc_ComplexSub_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComplexSubResponse" />
  </wsdl:message>
  <wsdl:message name="ICalc_ComplexMult_InputMessage">
    <wsdl:part name="parameters" element="tns:ComplexMult" />
  </wsdl:message>
  <wsdl:message name="ICalc_ComplexMult_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComplexMultResponse" />
  </wsdl:message>
  <wsdl:message name="ICalc_ComplexDiv_InputMessage">
    <wsdl:part name="parameters" element="tns:ComplexDiv" />
  </wsdl:message>
  <wsdl:message name="ICalc_ComplexDiv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComplexDivResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalc">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalc/Add" message="tns:ICalc_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalc/AddResponse" message="tns:ICalc_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sub">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalc/Sub" message="tns:ICalc_Sub_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalc/SubResponse" message="tns:ICalc_Sub_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Mult">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalc/Mult" message="tns:ICalc_Mult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalc/MultResponse" message="tns:ICalc_Mult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Div">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalc/Div" message="tns:ICalc_Div_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalc/DivResponse" message="tns:ICalc_Div_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComplexAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalc/ComplexAdd" message="tns:ICalc_ComplexAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalc/ComplexAddResponse" message="tns:ICalc_ComplexAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComplexSub">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalc/ComplexSub" message="tns:ICalc_ComplexSub_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalc/ComplexSubResponse" message="tns:ICalc_ComplexSub_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComplexMult">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalc/ComplexMult" message="tns:ICalc_ComplexMult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalc/ComplexMultResponse" message="tns:ICalc_ComplexMult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComplexDiv">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalc/ComplexDiv" message="tns:ICalc_ComplexDiv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalc/ComplexDivResponse" message="tns:ICalc_ComplexDiv_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalc" type="tns:ICalc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ICalc/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sub">
      <soap:operation soapAction="http://tempuri.org/ICalc/Sub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mult">
      <soap:operation soapAction="http://tempuri.org/ICalc/Mult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Div">
      <soap:operation soapAction="http://tempuri.org/ICalc/Div" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComplexAdd">
      <soap:operation soapAction="http://tempuri.org/ICalc/ComplexAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComplexSub">
      <soap:operation soapAction="http://tempuri.org/ICalc/ComplexSub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComplexMult">
      <soap:operation soapAction="http://tempuri.org/ICalc/ComplexMult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComplexDiv">
      <soap:operation soapAction="http://tempuri.org/ICalc/ComplexDiv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calculator">
    <wsdl:port name="BasicHttpBinding_ICalc" binding="tns:BasicHttpBinding_ICalc">
      <soap:address location="http://localhost:46987/Calculator.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>