Calculator client/Service References/CalculatorServiceReference/Calculator1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Complex">
    <xs:sequence>
      <xs:element minOccurs="0" name="_imag" type="xs:double" />
      <xs:element minOccurs="0" name="_real" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Complex" nillable="true" type="tns:Complex" />
</xs:schema>